<section id="sign-up">
  <div class="container text-center">
    <div class="card text-white bg-dark mx-auto">
      <div class="card-header"><i class="fas fa-user-plus"></i></div>
      <div class="card-body">
        <h3>Sign Up</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <% errors = resource.errors.details %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-envelope"></i></div>
            </div>
            <% email_class = errors[:email].empty? ? 'form-control' : 'form-control is-invalid' %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email Address', class: email_class %>
            <div class="invalid-feedback">
              Please provide an email address.
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <% password_class = errors[:password].empty? ? 'form-control' : 'form-control is-invalid' %>
            <%= f.password_field :password, autocomplete: 'new-password', class: password_class, placeholder: 'Password' %>
            <div class="invalid-feedback">
              Please provide a password with a minimum of <%= @minimum_password_length %> characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <% password_confirmation_class = errors[:password_confirmation].empty? ? 'form-control' : 'form-control is-invalid' %>
            <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'Password Confirmation', class: password_confirmation_class %>
            <div class="invalid-feedback">
              Password confirmation failed. Please try again.
            </div>
          </div>
          <% if @minimum_password_length %>
          <small class="form-text text-info">
            Your password must be a minimum of <%= @minimum_password_length %> characters long.
          </small>
          <% end %>
        </div>
        <div class="actions">
          <%= f.submit "Sign Up", id: 'sign-up', class: 'btn btn-success' %>
        </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
