<div id="duel-id" class="d-none"></div>
<section id="calculator">
  <div class="container">
    <div class="row text-center">
      <%= render :partial => "player", :locals => { :player => "one" } %>
      <div id="duel-btns-section" class="col-12">
        <div class="container">
          <button id="lp-rotate" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Rotate View">
            <i class="fas fa-sync"></i>
          </button>
          <button id="lp-reset" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Reset Life Points">
            <i class="fas fa-redo"></i>
          </button>
          <a href="<%= user_signed_in? ? user_profile_path(current_user) : '/' %>"><img src="<%= asset_path 'icons/icon-48x48.png' %>" class="img-fluid" aria-label="LP Calculator Home"></a>
          <button id="add-player-two" class="btn btn-success" data-toggle="modal" data-target="#add-player-two-modal">
            <i class="fas fa-user-plus"></i>
          </button>
          <button id="remove-player-two" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Remove Player Two">
            <i class="fas fa-user-minus"></i>
          </button>
          <button id="lp-starting" class="btn btn-secondary" data-toggle="modal" data-target="#lp-starting-modal">
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </div>
      <%= render :partial => "player", :locals => { :player => "two" } %>
    </div>
  </div>
</section>

<div id="lp-starting-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lp-starting-modal-lbl" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lp-starting-modal-lbl">Change Starting Life Points</h5>
        <button id="lp-starting-modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="lp-starting-radio-options" id="lp-starting-radio-eight-thousand" value="8000" checked>
          <label class="form-check-label" for="lp-starting-radio-eight-thousand">8000</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="lp-starting-radio-options" id="lp-starting-radio-four-thousand" value="4000">
          <label class="form-check-label" for="lp-starting-radio-four-thousand">4000</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="lp-starting-radio-options" id="lp-starting-radio-two-thousand" value="2000">
          <label class="form-check-label" for="lp-starting-radio-two-thousand">2000</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="add-player-two-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-player-two-modal-lbl" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-player-two-modal-lbl">Add Player Two</h5>
        <button id="add-player-two-modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <button id="add-player-two-guest" class="btn btn-primary">
            Add Guest
          </button>
          <% if user_signed_in? %>
            <button id="add-player-two-account" class="btn btn-danger" type="button" data-toggle="collapse" data-target="form#add-player-two-account" aria-expanded="false" aria-controls="add-player-two-account">
              Add Account
            </button>
          <% end %>
        </p>

        <% if user_signed_in? %>
          <%= form_with model: User.new, url: add_player_two_url, id: "add-player-two-account", class: "collapse" do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id, name: 'user_id' %>
            <%= f.hidden_field :starting_lp, value: 8000, name: 'starting_lp', id: 'starting-lp' %>
            <p class="text-info">
              Please ask your opponent to sign in.
            </p>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                </div>
                <%= f.email_field :email, class: "form-control", placeholder: "Player Two's Email Address", name: "player_two[email]", id: "player-two-email" %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-key"></i></div>
                </div>
                <%= f.password_field :password, class: "form-control", placeholder: "Player Two's Password", name: "player_two[password]", id: "player-two-password" %>
              </div>
            </div>
            <div class="actions">
            <%= f.submit "Add", class: "btn btn-success" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
