<!DOCTYPE html>
<html>
  <head>
    <title>LP Calculator</title>
    <meta name="Description" content="Life Points (LP) Calculator for Yu-Gi-Oh!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#BA38DF">
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image" href="<%= image_path "icons/icon-48x48.png" %>">
    <link rel="manifest" href="/manifest.json"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>
    <div id="snackbar"></div>
    <%= yield %>
  </body>
</html>
